<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo">
				<a href="http://www.tvmag.by/"><img class="footer__logo-pic" src="./img/header/tvmag_logo.png"
						alt="Logo"></a>
			</div>

			<p class="footer__info">
				Индивидуальный предприниматель <br>
				Борейко Евгения Анатольевна <br>
				УНП 192444111 Зарегистрирован Мингорисполкомом
				17.03.2015
				<br>
				Юридический адрес: 220039, г. Минск, ул.Авакяна,
				30/1
				<br>
				Почтовый адрес: 220004 г. Минск, до востребования
				<br>
				Интернет-магазин зарегистрирован в торговом реестре
				за
				<br>
				№297859 от 15.12.2015
			</p>

			<nav class="footer__nav">
				<a class="footer__nav-link" href="#pluses">Преимущества</a>
				<a class="footer__nav-link" href="#using"></a>
				<a class="footer__nav-link" href="#capability">Возможности</a>
				<a class="footer__nav-link" href="#delivery">Доставка
					и оплата</a>
				<a class="footer__nav-link" href="#contacts">Контакты</a>
			</nav>

			<div class="footer__contacts">
				<div class="footer__email">info@tvmag.by</div>
				<div class="footer__phones">
					<a class="footer__phones-item" href="tel:+375293772222">+375
						29 377-22-22</a>
					<a class="footer__phones-item" href="tel:+375295772222">+375
						29 577-22-22</a>
				</div>
				<div class="social footer__social">
					<a href="https://vk.com/tvmagby" target="_blank" class="social__link social__link_vk"></a>
					<a href="https://ok.ru/group/53383692026032" target="_blank"
						class="social__link social__link_ok"></a>
					<a href="https://www.facebook.com/tvmagby" target="_blank" class="social__link
                                social__link_fb"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__copyright copyright">
		<div class="container">
			<p class="copyright__text">© TVmag.by - телемагазин в
				интернете.
				Магазин на диване в Беларуси.
				ТВ-магазин в Минске.</p>
		</div>
	</div>
</footer>

<script src="js/app.min.js"></script>

<!-- BEGIN JIVOSITE CODE  -->
<script src="//code.jivosite.com/widget.js" data-jv-id="qRfn7bDz6k" async></script>

<!--  END JIVOSITE CODE -->

    <!-- Yandex.Metrika -->
    <script type="text/javascript">

    (function(d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter12882250 = new Ya.Metrika({
            id: 12882250,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) {}
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks"); 
  </script>
    <noscript><img src="//mc.yandex.ru/watch/12882250"
            style="position:absolute" rel="nofollow" alt="" /></noscript>
    <!-- /Yandex.Metrika -->

</body>

</html>